ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  
  li a:hover {
    background-color: #0eb28c;
  }

  .active {
    background-color: #04AA6D;
  }


 /* Footer */

 footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
  bottom: 0;
  position:fixed
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-left h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #0eb28c;
}

.footer-left p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-center {
  text-align: center;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0eb28c;
}

.footer-right p {
  margin-bottom: 10px;
}

.social-links a {
  color: #fff;
  margin: 0 5px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0eb28c;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-center ul {
    padding: 10px 0;
  }

  .social-links a {
    margin: 5px;
  }
}
